h1 {
    box-sizing: border-box;
    box-shadow: 10px 10px 10px lightgrey;
    border-radius: 50px;
    width: 300px;
    padding: 10px;
    color: rgb(80, 40, 3);
    background-color: rgb(167, 110, 26);
    text-align: center;
}
div {
    box-sizing: border-box;
    box-shadow: 10px 10px 10px lightgrey;
    border-radius: 150px;
    border-style: solid;
    border-color: rgb(80, 40, 3);
    width: 300px;
    height: 300px;
    padding: 10px;
    color: rgb(80, 40, 3);
    background-image: url(cookies.png);
    text-align: center;
}

h3{
    margin-top: 50px;
    margin-left: 35px;
    background-color: rgba(207, 156, 79, 0.863);
    border-radius: 50px;
    width: 200px;
}